/* line 1, app/sass/main.scss */
.app__container {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 7, app/sass/main.scss */
.carousel__images > .item > img,
.carousel__images > .item > a > img {
  margin: auto;
  width: 100%;
}

/* line 14, app/sass/main.scss */
.cart__button,
.category__label_item {
  margin-right: 5px;
}

/* line 19, app/sass/main.scss */
.category__label_container {
  margin-bottom: 10px;
}

/* line 23, app/sass/main.scss */
.full__container {
  margin: 0 40px;
  margin-top: 20px;
}

/* line 28, app/sass/main.scss */
.menu {
  padding: 0 30px;
}

/* line 33, app/sass/main.scss */
.product__menu_tabs {
  margin: 20px 0;
}
/* line 37, app/sass/main.scss */
.product__menu_text {
  margin: 15px 0 0 17px;
}

/* line 42, app/sass/main.scss */
.search__input {
  margin-bottom: 21px;
}

/* line 46, app/sass/main.scss */
.thumbnails__container {
  margin-top: 21px;
}
